certifi==2018.11.29
chardet==3.0.4
ChatterBot==1.0.2
chatterbot-corpus==1.2.0
future==0.17.1
idna==2.8
mathparse==0.1.2
nltk==3.4.5
oauthlib==3.0.1
PlexAPI==3.1.0
praw==6.1.1
prawcore==1.0.1
pymongo==3.7.2
python-dateutil==2.8.0
python-twitter==3.5
PyYAML>=4.2b4
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
SQLAlchemy==1.2.18
style==1.1.5
tqdm==4.31.1
update==0.0.1
update-checker==0.16
urllib3==1.24.1
websocket-client==0.54.0
youtube-dl==2019.2.18
